<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wbua.xervgybj@tznvy.pbz</string>
	<key>contactName</key>
	<string>John Kreitlow</string>
	<key>description</key>
	<string>Improved Less Syntax Highlighting</string>
	<key>name</key>
	<string>Better Less</string>
	<key>uuid</key>
	<string>4BA5F7E1-8D36-4634-8D88-86C0157A8E54</string>
</dict>
</plist>
