// SYNTAX TEST "Packages/Better-Less/Syntaxes/Better Less.tmLanguage"

.post {
    container-type: inline-size;
    container-name: sidebar;
    container: sidebar / inline-size;
}

@container sidebar (min-width: 700px) {
    .card {
        font-size: 2em;
    }
}
